header {
  background-color: transparent;
  box-shadow: none;
  position: sticky;
}

.container3 {
  margin: auto;
}
.col-div-6 {
  margin: auto;
}
.banner-section .container * {
  margin-bottom: 2rem;
}
.logo img {
  width: 10rem;
}
.welcome {
  text-transform: uppercase;
  font-weight: bold;
}
.h31 {
  font-family: libre baskerville;
  font-weight: 100;
  font-size: 2rem;
}

.heroh1 {
  font-size: 7rem;
  font-weight: 100;
}
