header {
  background-color: transparent;
  box-shadow: none;
  position: sticky;
}
.review-section {
  display: grid;
  background-image: url(billeder/review-banner.webp);
  background-position: center 70%;
  box-shadow: inset 0 0 0 1000px var(--darksand-opa);
  height: 600px;
  place-items: center;
}
.presponse {
  font-weight: bold;
}
.review-h2 {
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}
.review-box {
  width: 45ch;
}
.review-con {
  display: flex;
  gap: 10rem;
}

.container3 {
  margin: auto;
}
.col-div-6 {
  margin: auto;
}
.banner-section .container * {
  margin-bottom: 2rem;
}
.logo img {
  width: 10rem;
}
.welcome {
  text-transform: uppercase;
  font-weight: bold;
}
.h31 {
  font-family: libre baskerville;
  font-weight: 100;
  font-size: 2rem;
}

.heroh1 {
  font-size: 7rem;
  font-weight: 100;
}
