.review-con {
  display: flex;
  flex-direction: column;
}
.frontbanner {
  box-shadow: inset 0 0 0 1000px var(--darksand-opa);
  background-image: url(billeder/baggrundstor.webp);
  background-position: center 65%;
}
header {
  background-color: transparent;
  box-shadow: none;
  position: sticky;
}
.presponse {
  font-weight: bold;
}
.outercon {
  overflow: hidden;
  width: 70rem;

  margin: auto;
}
.outeroutercon {
  display: flex;
  width: 75rem;
  margin: auto;
}
.arrow_prev,
.arrow_next {
  margin: auto;
  color: red;
  transform: translateY(-50%);
}
#karusel {
  display: flex;
  overflow-x: scroll;
  gap: 3.5rem;
}

.review-h2 {
  font-weight: 100;
  font-size: 3.8rem;
}
.review-box {
  width: 45ch;
}
.review-section {
  display: grid;
  background-image: url(billeder/review-banner.webp);
  background-position: center 70%;
  box-shadow: inset 0 0 0 1000px var(--darksand-opa);
  height: 600px;
  place-items: center;
}

.outercon {
  overflow: hidden;
  width: 15rem;
  margin: auto;
}
.outeroutercon {
  display: flex;
  height: 20rem;
  width: 20rem;
  margin: auto;
}
.roundabout {
  display: flex;
}
.container3 {
  margin: auto;
}
.col-div-6 {
  margin: auto;
}
.banner-section .container * {
  margin-bottom: 2rem;
  text-align: center;
}
.welcome {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}
.h31 {
  font-family: libre baskerville;
  font-weight: 100;
  font-size: 1rem;
}
.heroh1 {
  font-size: 2.5rem;
}
.review-h2 {
  font-size: 2rem;
}
.review-con {
  font-size: 0.8rem;
  gap: 2rem;
}
@media (min-width: 700px) {
  .review-h2 {
    font-weight: 100;
    font-size: 3.8rem;
  }
  .welcome {
    font-size: 1rem;
  }
  .review-box {
    width: 45ch;
    line-height: 1.6rem;
  }
  .review-con {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-bottom: 5rem;
  }
  .line {
    display: none;
  }
  .presponse {
    font-size: 1rem;
  }
  .logo img {
    width: 12rem;
  }
  .outercon {
    overflow: hidden;
    width: 70rem;
    margin: auto;
  }
  .outeroutercon {
    display: flex;
    height: 30rem;
    width: 75rem;
    margin: auto;
  }
  .heroh1 {
    font-size: 7rem;
    font-weight: 100;
  }
  .h31 {
    font-size: 2.5rem;
  }
  #karusel {
    gap: 2rem;
  }
}
